h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}



body {
    background-image: url('https://raw.githubusercontent.com/krayt0n3/TriviaGame/initial-site/assets/images/prism.png');
}


#container {
    width: 70%;
    background-color: #fff;
    margin: 0 auto;
    padding: 20px;
}


.intro {
    text-align: center;
}


#display-time {
    text-align: center;
}

form {
    display: inline-block;
}